{% extends "layouts/app.html" %}


{% block title %}
<title>¡Registrate!</title>
{% endblock title %}

{% block content %}
<h1>¡ Registro de Clientes !</h1>
{% endblock content %}

{% block registrar %}
<h2> Ingresa la singuiente informacion</h2>
<form  id="signup" action="{% url "signup" %}" method="post">
  {% csrf_token %}
  <div class="signup">
  {{ form }}
  <div>
  <button type="submit">Registrar</button>
</form>
<form action="{% url "admin_users" %}">
  <button type="submit"> Regresar </button>
</form>
<br>
<h3> Lista de usuarios </h3>
<ul>
<form action="{% url "lista_usuarios" %}">
  <button type="submit"> lista de usuarios </button>
</form>
</ul>
{% endblock registrar %}