{% extends "layouts/app.html" %}


{% block title %}
<title>¡Registrate!</title>
{% endblock title %}

{% block content %}
<h1>¡ Registro de Clientes !</h1>
{% endblock content %}

{% block registrar %}
<h2> Ingresa la singuiente informacion</h2>
<form action="{% url "signup" %}" method="post">
  {% csrf_token %}
  {{ form }}
  <button type="submit">Ingresar</button>
</form>
</form>
<form action="{% url "admin_dashboard" %}">
  <button type="submit"> Regresar </button>
</form>
<h3> Lista de usuarios </h3>
<ul>
{% for usuario in lista_usuarios %}
  <li>
  <p>
    Nombre:         {{usuario.user_name}} <br>
    Documento:      {{usuario.user_doc}}<br>
    E-mail:         {{usuario.user_email}}<br>
    Telefono:       {{usuario.user_phone}}<br>
    fecha de reg.:  {{usuario.fecha_registro}}<br>
  </p>
  </li>
{% endfor %}
</ul>
{% endblock registrar %}