{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% block title %}{% endblock title %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href={% static "styles.css" %}>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
  <link rel="icon" href="../../static/images/Logo1.jpg">
</head>

<body>
  <header>
    {% include "layouts/partials/menu.html" %}
  </header>

  <main>
    {% block content %}{% endblock content %}
    {% block registrar %}{% endblock registrar %}
  </main>
</body>

</html>