
<div class="navbar">
  <nav>
  
    <div class="nav-logo">
      <a href={% url "admin_dashboard" %}>
        <img src="/static/images/Logo1.jpg" alt="logo" class="logo">
      </a>
    </div>
    <ul>
      <li>
        <a href={% url "signup" %}>Registrar CLIENTE</a>
      </li>
      <li>
        <a href={% url "agendar" %}>agendar sesion</a>
      </li>
      <li>
        <a href={% url "event_type" %}>Crear tipo de evento</a>
      </li>
      <li>
        <a href={% url "crear_status" %}>Crear estado de pago</a>
      </li>
      <!-- <li>
        <a href="#">Eventos</a>
      </li>
      <li>
        <a href="#">Contacto</a>
      </li> -->
    </ul>
    <button type="button" ref={% url "login" %}>LOGIN</button>
    </nav>
</div>
