{% extends "layouts/app.html" %}

{% block title %}
<h2>En esta vista podemos editar los pagos</h2>
{% endblock title %}

{% block content %}
<form action="{% url "editar_pago" %}" method="post">
  {% csrf_token %}
  <label for="id_pago">ID pago:<input type="number" id="id_pago" name="id_pago">
  </label>
  <br>
  <label for="cotizacion">Valor de la cotizacion:</label>
  <input type="text" id="cotizacion" name="cotizacion">
  <br>
  <label for="pay_comment">Comentario(s):</label>
  <br>
  <textarea name="pay_comment" rows="10" cols="30"></textarea>
  <br>
  <label for="pay_status">Selecciona el estado de pago:</label>
  <select name="pay_status" id="pay_status">
    <option value="Pendiente">Pendiente</option>
    <option value="Primer pago">Primer pago</option>
    <option value="Pago completo">Pago completo</option>
  </select>
  <br>
  <label for="pay_date">Fecha:</label>
  <input type="date" id="pay_date" name="pay_date">
  <br>
  <button type="submit">Guardar Pago</button>
</form>
<form action="{% url "editar_pago" %} ">
  <button type=" button">Lista de pagos</button>
</form>

{% endblock content %}