{% extends "layouts/app.html" %}
{% comment %} en esta seccion vamos a traer todo el contenido de app.html y lo dejaremos listo para que sea tomado por
views {% endcomment %}

{% block title %}
<title>Inicio</title>
{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
<h2>! HOLA {{ user.username }} !</h2>
<form action="{% url 'logout' %}" method="post">
  {% csrf_token %}
  <button type="submit"> Salir </button>
</form>
{% else %}
<h2>¡Hola bienvenido!</h2>
<p> No has iniciado sesión</p>
<a href="{% url 'login' %}"> Ingresar </a>
{% endif %}
{% endblock content %}

