{% extends "layouts/app.html" %}

{% block title %} <title>Lista Pagos </title> {% endblock title %}

{% block content %}

<h2>Listado de pagos</h2>

<ul>
  {% for pago in pagos %}
  <li>
    <a href="{% url "show_editar_pago" %}"> Editar pago No.{{ pago.id }}</a>
    <p>ID: {{ pago.id }} -- cotizacion: {{ pago.cotizacion }} 
    <br>Comentario: {{ pago.pay_comment }} 
    <br> Fecha: {{ pago.pay_date }}
    </p>
    <a href="{% url "eliminar_pago" pago.id %}"> Eliminar pago No. {{ pago.id }} </a>
  </li>
  <br>
  {% endfor %}
</ul>


{% endblock content %}