{% extends "layouts/app.html" %}

{% block title %}
<title>Admin_dashboard</title>
{% endblock title %}


{% block content %}
<h2> ! Este es el contexto del administrador ¡</h2>
{% endblock content %}

{% block registrar %}
<h1> Hola Bienvenido !</h1>

<h2>Acerca de mi</h2>
<div class="intro">

´<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium dolores fugit dolore voluptates suscipit modi
  necessitatibus beatae, quaerat, adipisci ipsa at? Sed dolor suscipit ad ipsam ex nulla quidem corporis. Commodi magnam
  illum voluptatibus consequatur accusamus alias fugit assumenda deleniti in dolores iure facere, repellendus minima.
  Cupiditate molestiae fugit blanditiis autem quam ad vel facere, doloribus odit quibusdam quos facilis amet, id ullam
  deserunt sequi architecto animi quod perspiciatis ea. Eveniet corrupti vitae autem accusantium ipsum eos nostrum animi
  est, placeat officiis vel aliquam enim! Eum quibusdam, eos quasi libero at repellat blanditiis voluptate reprehenderit
  quos corporis explicabo eius neque dolores error cum voluptatibus mollitia porro? Porro hic consequuntur nisi
  molestias ex tempore non iure, consectetur mollitia dolores repudiandae dolor?</p>

<img src="/static/images/fondo3.jpg" alt="logo" class="imagenes">
</div>
{% endblock registrar %}