{% extends "layouts/app.html" %}

{% block title %}
<title>Crear estado de pago</title>
{% endblock title %}

{% block content %}
<h2> ! Aqui se pueden crear estados de pago ¡</h2>
{% endblock content %}

{% block registrar %}
<div class="contenedor">
<form action="{% url "crear_status" %}" method="post">
  {% csrf_token %}
  {{ form }}
  <button type="submit">Guardar estado de pago</button>
</form>

<br><br>

<form  action="{% url "agendar" %}">
  <button type="submit"> Regresar </button>
</form>
<h3> Lista de estados de pago </h3>
<ul>
<div>
{% for estado in lista_status %}

<li>
  <br>
  <p>
  {{estado.nombre}} <a href="{% url "delete_status" estado.id %}"> Eliminar </a><br>
  </p>
</li>

{% endfor %}
</ul>
{% endblock registrar %}